
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/* @font-face {
  font-family: 'Uthmani';
  src: url('/public/Uthmani.ttf') format('truetype'); 
}  */
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
.arabic *, .arabic {
  font-family: 'Droid Arabic Naskh', serif;
}
.App-link {
  color: #61dafb;
}
a{
  color: teal;
}
ol{
  list-style: revert;
  padding-left: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


